
<style>
    .contenedorA {
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        max-width: 100%;
        margin: auto;
        aspect-ratio: 16 / 9;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        text-align: center;
    }

    .div-baseA {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: left;
      overflow: hidden;
      background-color: rgba(0,0,0,0);
    }

    .div-encimaA {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      padding: .6rem;
      background-color: rgba(0, 0, 0, 0.024);
      color: white;
      text-align: center;
      font-size: .6rem;
      border-radius: 8px;
      overflow: hidden;    
    }
   
}
</style>

<div id="miDiv" class="col bg-default contenedorA">
    <div class="card div-baseA shadow-none border-secondary rounded-0 border border-dashed mb-0">
        <div class="card-body div-encimaA">
            <div class="row">
                <a href="#" class="link-reset bg-secondary bg-opacity-40 text-uppercase fw-semibold fs-lg" style="text-align: left"> 
                     @ViewBag.Line 
                     <button class="topbar-link dropdown-toggle drop-arrow-none bg-opacity-40" style="position: sticky; left: 100%" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="bell" class="lucide lucide-bell fs-xxl"><path d="M10.268 21a2 2 0 0 0 3.464 0"></path><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"></path></svg>
                        <span class="badge badge-square text-bg-warning topbar-badge">14</span>
                    </button>
                </a>
                
                <div class="@ViewBag.ClassName"> 
                    <span class="fw-semibold text-muted fs-7">Parts Produced </span>
                    <span class="fw-bold me-2"><span style="font-size: .8vw" data-target="99.9">@ViewBag.PartsProduced</span></span>
                </div>
                <div class="@ViewBag.ClassName"> 
                    <span class="fw-semibold text-muted fs-7">Scrap </span><br>
                    <span class="fs-md fw-bold me-2"><span data-target="99.9">@ViewBag.Scrap</span></span>
                </div>
                <div class="@ViewBag.ClassName"> 
                    <span class="fw-semibold text-muted fs-7">DownTime </span><br>
                    <span class="fs-md fw-bold me-2"><span data-target="99.9"><i class="ti ti-stopwatch"></i> @ViewBag.DownTime</span> <i class="text-muted fs-12">MIN</i></span>
                </div>
                <div class="@ViewBag.ClassName"> 
                    <span class="fw-semibold text-muted fs-7">OA </span><br>
                    <span class="fs-md fw-bold me-2"><span data-target="99.9">@ViewBag.OA</span></span>
                </div>
                <div class="@ViewBag.ClassName"> 
                    <span class="fw-semibold text-muted fs-7">MTTR </span><br>
                    <span class="fs-md fw-bold me-2"><span data-target="99.9">@ViewBag.MTTR</span></span>
                </div>
                <div class="@ViewBag.ClassName"> 
                    <p class="text-muted mb-2 text-truncate"><span>PRODUCTION TIMELINE</span></p>
                    <div class="progress bg-secondary bg-opacity-50"">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                   
            </div>
            
            
        </div>
    </div>
</div><!-- end col -->

